*.tsx @Jooney-95 @kcs-developers/start-dream-team
*.jsx @Jooney-95 @kcs-developers/start-dream-team
*.js @Jooney-95 @kcs-developers/start-dream-team
*.json @Jooney-95 @kcs-developers/start-dream-team
*.md @Jooney-95 @kcs-developers/start-dream-team