@tailwind base;
@tailwind components;
@tailwind utilities;

.sign_input {
  @apply p-2 my-2 border border-solid rounded-md outline-none border-slate-300 placeholder:font-thin placeholder:text-sm;
}
.sign_form_submit_btn {
  @apply w-full p-2 mt-6 mb-4 rounded-md text-slate-50 bg-accent-400 hover:bg-accent-500;
}
.border_base {
  @apply border border-solid rounded-md outline-none border-slate-300;
}
.selected_btn {
  @apply border-accent-200 border border-solid text-accent-200;
}

@layer utilities {
  .scrollbar_option::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar_option::-webkit-scrollbar-thumb {
    background-color: #bab9b9;
    border-radius: 15px;
    scrollbar-width: thin;
  }
  .line_wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
